################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MGM2/.vs/MGM2/v17/Browse.VC.opendb
/MGM2/.vs/MGM2/v16/Browse.VC.opendb
